{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


    {#<h1>注册</h1>#}
    {##}
    {#<p>{% blocktrans %}已经拥有账号？请 <a href="{{ login_url }}">登录</a>.{% endblocktrans %}</p>#}
    {##}
    {#<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">#}
    {#  {% csrf_token %}#}
    {#  {{ form.as_p }}#}
    {#  {% if redirect_field_value %}#}
    {#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
    {#  {% endif %}#}
    {#  <button type="submit">注册 &raquo;</button>#}
    {#</form>#}
    {#    #}

        <br>
        <br>
        <div class="container">
            <div class="container-fluid">
                <h3 class="alert alert-primary">注册新账号</h3>
            </div>
            <div class="row justify-content-center">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">用户名：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" placeholder="请输入用户名" autofocus="autofocus" minlength="1"
                                   maxlength="150" required id="id_username" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="layui-form-label">E-mail：</label>
                        <input type="email" name="email" placeholder="请输入邮箱地址" id="id_email" class="form-control"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="id_password1" class="layui-form-label">密码：</label>
                        <input type="password" name="password1" placeholder="8位或以上字母/数字组合" required id="id_password1"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password2" class="layui-form-label">重输密码：</label>

                        <input type="password" name="password2" placeholder="再次输入密码" required id="id_password2"
                               class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit_signup" hidden>确认 &raquo;</button>
                    <button type="button" class="btn btn-primary" id="on_submit_signup">确认 &raquo;</button>
                    <small class="form-text text-muted">
                        已经有账号了？点击这里<a href="{{ login_url }}">登录</a>。
                    </small>
                </form>
            </div>
        </div>

{% endblock %}


{% block script %}

<script src="https://cdn.bootcss.com/mo-js/0.288.2/mo.min.js"></script>
<script src="https://cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>

<script src="/static/csrf.js"></script>
<script>
    $(() => {
        // username 验证
        const on_submit_signup = $('#on_submit_signup');
        const username_input = $('#id_username');
        username_input.on('change', (event) => {
            let data = {
                'username': event.delegateTarget.value,
                'type': 'username'
            };
            username_validate(data);
        });

        const username_validate = async (data) => {
            if (!data.username) {
                username_input.addClass('breath-input');
                var username_tips = layer.tips('请填写用户名', username_input, {
                    time: 4000,
                    area: ['auto', 'auto'],
                    tips: [2, 'indianred'],
                    tipsMore: true
                });
                return false;
            }
            let res = await $.post("{% url 'userprofile:signup' %}", data,
                function (data, status) {
                    if (data === '403') {
                        username_input.addClass('breath-input');
                        var username_tips = layer.tips('用户名已被注册', username_input, {
                            time: 4000,
                            area: ['auto', 'auto'],
                            tips: [2, 'indianred'],
                            tipsMore: true
                        });
                    } else {
                        username_input.removeClass('breath-input');
                    }
                },
            ).fail((response) => {
                on_submit_signup.removeAttr('disabled').empty().append('确认 &raquo;');
                layer.msg('与服务器通讯失败..<br/>重试一下呗o(╥﹏╥)o')
            });

            if (res === '200') {
                return true;
            } else {
                return false;
            }
        };

        // email 验证
        const email_input = $('#id_email');
        email_input.on('change', (event) => {
            let data = {
                'email': event.delegateTarget.value,
                'type': 'email'
            };
            email_validate(data);
        });

        const email_validate = async (data) => {
            if (!data.email) {
                email_input.addClass('breath-input');
                var email_tips = layer.tips('请填写邮箱哟', email_input, {
                    time: 4000,
                    area: ['auto', 'auto'],
                    tips: [2, 'indianred'],
                    tipsMore: true
                });
                return false;
            }
            let res = await $.post("{% url 'userprofile:signup' %}", data,
                function (data, status) {
                    if (data === '403') {
                        email_input.addClass('breath-input');
                        var email_tips = layer.tips('此邮箱已被注册', email_input, {
                            time: 4000,
                            area: ['auto', 'auto'],
                            tips: [2, 'indianred'],
                            tipsMore: true
                        });
                    } else {
                        email_input.removeClass('breath-input');
                    }
                },
            ).fail((response) => {
                on_submit_signup.removeAttr('disabled').empty().append('确认 &raquo;');
                layer.msg('与服务器通讯失败..<br/>重试一下呗o(╥﹏╥)o')
            });

            if (res === '200') {
                return true;
            } else {
                return false;
            }
        };

        // password1 验证
        const password1_input = $('#id_password1');
        password1_input.on('change', (event) => {
            let password1 = event.delegateTarget.value;
            password1_validate(password1);
        });

        const password1_validate = (password1) => {
            const regNumber = /\d+/;
            const regString = /[a-zA-Z]+/;
            if (!regNumber.test(password1) || !regString.test(password1) || password1.length < 8) {
                password1_input.addClass('breath-input');
                var password1_tips = layer.tips('请输入8位或以上字母/数字组合', password1_input, {
                    time: 4000,
                    area: ['auto', 'auto'],
                    tips: [2, 'indianred'],
                    tipsMore: true
                });
                return false;
            } else {
                password1_input.removeClass('breath-input');
                return true;
            }
        };

        // password2 验证
        const password2_input = $('#id_password2');
        password2_input.on('change', (event) => {
            let password2 = event.delegateTarget.value;
            password2_validate(password2);
        });

        const password2_validate = (password2) => {
            if (password2 !== password1_input.val()) {
                password2_input.addClass('breath-input');
                var password2_tips = layer.tips('两次输入密码不一致', password2_input, {
                    time: 4000,
                    area: ['auto', 'auto'],
                    tips: [2, 'indianred'],
                    tipsMore: true
                });
                return false;
            } else {
                password2_input.removeClass('breath-input');
                return true;
            }
        };

        // 提交验证
        on_submit_signup.on('click', async function (event) {

            on_submit_signup.attr('disabled', 'disabled').empty().append('确认中.. ').append(
                '<span class="spinner-border spinner-border-sm text-light" role="status">\n' +
                '  <span class="sr-only">Loading...</span>\n' +
                '</span>'
            );

            const params = $("#signup_form").serializeArray();
            let data = {};
            for (let x in params) {
                data[params[x].name] = params[x].value;
            }

            let is_password2_pass = password2_validate(data.password2);
            let is_password1_pass = password1_validate(data.password1);
            let is_email_pass = await email_validate({
                'type': 'email',
                'email': data.email
            });
            let is_username_pass = await username_validate({
                'type': 'username',
                'username': data.username
            });

            if (is_password1_pass && is_password2_pass && is_username_pass && is_email_pass) {
                $('#submit_signup').click();
            } else {
                on_submit_signup.removeAttr('disabled').empty().append('确认 &raquo;');
            }
        });
    });
</script>








{% endblock script %}
