
<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- 导航 -->

    <a class="navbar-brand hvr-grow-rotate" href="/" style="font-size: 1.2em;">
        Spock的学习经验
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="
                nav-item
             {% if '/tech' in request.path or '/life' in request.path or '/book&moive' in request.path %}
             {% elif '/music' in request.path or '/about' in request.path %}
             {% else %}
             active
             {% endif %}

                ">
                <a class="nav-link mr-2" href="/">
                    首页
                </a>
            </li>
            <li class="
                nav-item
            {% if '/tech' in request.path  %}
             active
             {% endif %}
                ">
                <a class="nav-link mr-2" href="/tech/">
                    技术
                </a>
            </li>
            <li class="
                nav-item
             {% if '/life' in request.path  %}
             active
             {% endif %}
                ">
                <a class="nav-link mr-2" href="/life/">
                    生活
                </a>
            </li>
            <li class="
                nav-item
             {% if '/book&moive' in request.path  %}
             active
             {% endif %}
                ">
                <a class="nav-link mr-2" href="/book&moive/">
                    书和电影
                </a>
            </li>

            <li class="
                nav-item
             {% if '/music' in request.path  %}
              active
             {% endif %}
                ">
                <a class="nav-link mr-2" href="/music/">
                    音乐
                </a>
            </li>
            <li class="
                nav-item
             {% if '/about' in request.path  %}
             active
             {% endif %}
                ">
                <a class="nav-link mr-2" href="/about/">
                    关于
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-md-auto" style="margin: -5px 0 -5px 0;">

            <!-- 用户下拉条avatar -->
        {% if user.is_authenticated %}

            {% if user.username == 'spock' %}
            <li class="
                nav-item

                ">
                <a class="nav-link mr-2" href="{% url 'article:article_create' %}">
                    创作
                </a>
            </li>

            {% endif  %}

            {% load notifications_tags %}

            {% notifications_unread as unread_count %}

            <!-- 如果用户已经登录，则显示用户名下拉框 -->
            <li class="nav-item dropdown">

                <button type="button" class="nav-link btn dropdown-toggle" href="#" id="navbarDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <!-- 新增代码，小红点 -->
                {% if unread_count %}
                    <svg viewBox="0 0 8 8"
                         width="8px"
                         height="8px">
                        <circle cx="4"
                                cy="4"
                                r="4"
                                fill="#ff6b6b"
                                ></circle>
                    </svg>
                {% endif %}

                {{ user.username }}

                </button>


                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item hvr-forward" href="{% url "notice:list" %}">通知
                        {% if unread_count  %}
                        <span class="badge badge-danger">{{ unread_count }}</span>
                        {% endif %}
                    </a>

                    <a class="dropdown-item hvr-forward" href='{% url "userprofile:edit" user.id %}'>个人信息</a>

                  <a href="javascript:" class="dropdown-item hvr-forward" data-toggle="modal" data-target="#logout">退出登录</a>
                </div>
            </li>
            <!-- 如果用户未登录，则显示 “登录” -->

        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h5 class="modal-body">
                    确认退出吗？
                </h5>
                <div class="modal-footer">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">退出登录</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>





        {% else %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'account_login' %}>登录</a>
            </li>
        <!-- if 语句在这里结束 -->
        {% endif %}

        </ul>
    </div>

</nav>